<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>
<body>
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a href="#" class="simple-text logo-normal" style="font-family: fantasy;font-size: 25px;">
                Online Shopping Cart
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">

                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("ViewCus","Customer")">
                        <i class="material-icons">person</i>
                        <p>Customer</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("ViewPro","Product")">

                        <i class="material-icons">content_paste</i>
                        <p>Product</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("ViewOrd","Order")">
                        <i class="material-icons">library_books</i>
                        <p>Order</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Confirm","CateOrd")">
                        <i class="material-icons">content_paste</i>
                        <p>Category Order</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("ViewStaff","Staff")">
                        <i class="material-icons">bubble_chart</i>
                        <p>Staff</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index","Warehouse")">
                        <i class="material-icons">content_paste</i>
                        <p>WareHouse</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</body>
<style>
    /*.dark-edition .sidebar {
        background-color: #e2e2e2;
    }
        .dark-edition .sidebar[data-background-color="black"] .nav li:not(.active) a{
            color:#000;
        }
        .dark-edition .sidebar[data-background-color="black"] .nav li:not(.active) i{
            color:#000;
        }

        .dark-edition .sidebar[data-background-color="black"] .nav li:not(.active):not(.active):hover > a {
            background-color: #5a50e5;
        }   
    .main-panel {
        background-color: #c9ced2;
    }
    .sidebar-wrapper .nav-item .nav-link {
        border: 1px solid;
    }*/
</style>
</html>
