@model ShopOnline.Models.Employee

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
        
                <div class="card-header" style="background: #9c27b0; color:#fff ">Account Details</div>
                <div class="card-body">
                    <form action=" " class=" form">
                        <input id="id_emp" name="id_emp" value="@Model.EmployeeID" type="hidden" class="form-control" readonly>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1">Name</label>
                                <input class="form-control" id="name" name="name" type="text" value="@Model.EmployeeName" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" name="phone" id="phone" type="tel" value="@Model.Phone" readonly>
                            </div>
                        </div>


                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Username</label>
                                <input class="form-control" id="username" name="username" type="text" value="@Model.UserName" readonly>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-8">
                                <label class="small mb-1">Password</label>
                                <input class="form-control" id="inputPass" name="inputPass" type="password" value="@Model.Password" readonly>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("editpass", "EditProfile")" class="btn btn-primary" style="font-size: 14px;font-weight: 200;letter-spacing: 0.1em;top: 15px;">Change Password</a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control[readonly] {
        background-color: #4b5661;
    }
        body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control{
        color:#000;
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>


