@using ShopOnline.Models
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/asset/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/asset/css/magnific-popup.css">
    <link rel="stylesheet" href="~/asset/css/jquery-ui.css">
    <link rel="stylesheet" href="~/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/asset/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/asset/css/aos.css">

    <link rel="stylesheet" href="~/asset/css/style.css">

</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left" >
                            @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                            {
                                <form class="site-block-top-search">

                                    <span class="icon icon-search2" style="position: absolute; left: 0; top: 50%; transform: translateY(-50%);"></span>
                                    <input type="text" class="form-control border-0" style="padding-left: 40px; transition: .3s all ease-in-out; " placeholder="Search name product" value="@ViewBag.keyword" name="keyword">
                                   
                                </form>
                            }
                            </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="/" class="js-logo-clone">Shoppers</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","Cart")" class="site-cart">
                                            <span class="icon icon-shopping_cart">
                                                <span class="count" id="CartCount">@Html.Action("CartBag", "Cart")</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li><a href="/Cart/Order_Tracking"><span class="icon icon-truck"></span></a></li>
                                    <li>
                                        <a href="#">
                                            <span class="icon icon-heart">
                                                @if (Session["id"] != null)
                                                {
                                                    <a href="~/Login/Logout"><span class="icon icon-sign-out"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Login/LoginUser">Login</a>
                                                }
                                            </span>
                                        </a>
                                    </li>
                                    <li><a href="@Url.Action("Index","EditProfile")"><span class="icon icon-person">@Session["name"]</span></a></li>

                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li class="has-children ">
                            <a href="@Url.Action("Index","Home")">Home</a>

                        </li>
                        <li class="has-children">
                            <a href="@Url.Action("About","Home")">About</a>

                        </li>
                        <li><a href="@Url.Action("Index","Product")">Shop</a></li>
                        <li><a href="#">Catalogue</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>

        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigations</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Sell online</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Shopping cart</a></li>
                                    <li><a href="#">Store builder</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobile commerce</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website development</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Point of sale</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Promo</h3>
                        <a href="#" class="block-6">
                            <img src="~/asset/images/banhoc.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Finding Your Perfect Accessory</h3>
                            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">35/6 D5 , Binh Thanh, TP Ho Chi Minh</li>
                                <li class="phone"><a href="tel://23923929210">+84 384667079</a></li>
                                <li class="email">Aptech@gmail.com</li>
                            </ul>
                        </div>

                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>
        </footer>
    </div>

    <style>
        .site-navbar .site-navigation .site-menu .has-children > a:before {
            content: none;
        }
    </style>

    <script src="~/Scripts/jquery.js" type="text/javascript"></script>
    <script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/asset/js/jquery-ui.js" type="text/javascript"></script>
    <script src="/asset/js/popper.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/owl.carousel.min.js"></script>
    <script src="/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="/asset/js/aos.js"></script>
    <script src="/asset/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

